<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="optimizer" type="File" fileName="${basedir}/optimizer.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="batcher" type="File" fileName="${basedir}/batcher.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="console" type="Console" layout="${message}" />
  </targets>
  <rules>
    <logger name="optimizer" minLevel="Trace" writeTo="optimizer,console" />
  </rules>
</nlog>